<!DOCTYPE html>
<html lang="en" ng-app="restcat" ng-csp>
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<link rel="stylesheet" type="text/css" href="style/gaia/headers.css" />
<link rel="stylesheet" type="text/css" href="style/gaia/lists.css" />
<link rel="stylesheet" type="text/css" href="style/gaia/input_areas.css" />
<link rel="stylesheet" type="text/css" href="style/gaia/buttons.css" />
<link rel="stylesheet" type="text/css" href="style/gaia/switches.css" />
<link rel="stylesheet" type="text/css" href="style/gaia/status.css" />
<link rel="stylesheet" type="text/css" href="style/gaia/toolbars.css" />
<link rel="stylesheet" type="text/css" href="style/gaia/app.css" />
<!-- <link rel="stylesheet" href="style/app.css"> -->

<script src="js/lib/angular.1.2.1.min.js"></script>
<script src="js/lib/angular-cookies.min.js"></script>
<script src="js/lib/angular-translate.js"></script>
<script src="js/lib/angular-translate-storage-cookie.js"></script>
<script src="js/lib/angular-translate-storage-local.js"></script>

<script src="js/app/app.js"></script>
<script src="js/app/controllers.js"></script>

</head>

<body  role="application">

	<section role="region" id="list-view" ng-controller="QueryCtrl">
		<header>
			<menu type="toolbar">
				<button id="settings-btn">
					<span class="icon icon-settings" translate="settings">settings</span>
				</button>

				<button class="recommended" ng-click="send()">
					<span class="" translate="send">send</span>
				</button>

			</menu>
			<h1 translate="app_name">REST Cat</h1>
		</header>
	
		<article id="appList" data-type="list">
			
			<ul>
				<li>
					<p>
						<input type="text" ng-model="server"
							placeholder="{{ 'server' | translate }}" />
					</p>
				</li>			
				<li>
					<p>
						<input type="text" ng-model="path"
							placeholder="{{ 'path' | translate }}" />
					</p>
				</li>
				
				<li>
					<select ng-model="method" ng-options="name for name in methods"></select>
				</li>
			</ul>
			
			<table>
				<tbody>
					<tr class="header-item" ng-repeat="header in headers">
						<td>
							<input type="text" ng-model="header.name" placeholder="{{'header_key' | translate}}" />
						</td>
						<td> 
							<input type="text" ng-model="header.value" placeholder="{{'header_value' | translate}}" />
						</td>
						<td class="remove">
							<button ng-click="$first ? makeEmpty($index) : removeHeader($index)" class="danger">&times;</button>
						</td>
					</tr>
				</tbody>
				
				<tfoot>
					<tr><td colspan="3">
						<button class="recommend" ng-click="addHeader()">{{'add header' | translate}}</button>
					</td></tr>
				</tfoot>
			</table>
					

		</article>
		
		<article ng-show="hasResult" data-type="list">
			
			<h2>{{'result' | translate}} <span ng-bind="statusCode" class="pull-right"></span></h2>
			<p>
				<span ng-bind="statusText"></span>
			</p>
			
			<div ng-bind="queryResult"></div>
			
		</article>

		<footer>
			<div role="toolbar">
			</div>
		</footer>
	</section>

	<section role="region" id="settings-view"
		class="move-down skin-organic" ng-controller="SettingsCtrl">
		<header>
			<button ng-click="closeSettings()" id="close-btn">
				<span class="icon icon-close">close</span>
			</button>
			<menu type="toolbar">				
			</menu>
			<h1 translate="settings">Settings</h1>
		</header>
		<article>
			<form>
				<p>
					<select ng-model="language" ng-change="changeLanguage()"
						ng-options="lang as name for (lang, name) in supportedLanguages">
					</select>
				</p>				
			</form>
		</article>
	</section>

</body>
</html>
