html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #fff;
}

body {
  height: 100%;
  display: block;
  overflow: hidden;
}

pre{
	width: 100%;
	height: 300px;
	overflow: auto;
	background: #f0f0f0;
	border: 1px solid #e0e0e0;
}

section[role="region"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  overflow: auto;
}

#settings-view, #history-view {
  z-index: 10;
}

.move-down {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transition: all 0.2s;
}

.move-up {
	transform: translateY(0);
	-webkit-transform: translateY(0);	
	transition: all 0.2s;
}

section[role="region"] > header:first-child .icon.icon-settings {
  background-image: url(images/settings.png);
}

[data-type="list"] li > a aside img {
  height: 4rem;
  width: 4rem;
  margin: 1rem 1rem 0 0;
}

[data-type="list"] li > a aside.pack-end.install {
  background: url(images/download.png) no-repeat;
  height: 3rem;
  width: 3rem;
  margin: 1.5rem 0 0 1rem;
}

#settings-view form {
	margin: 1.5rem;
}


select{
	line-height: 1rem;
    padding-top: 0.5rem;
    font-size: 2rem;
}

.header-item td{	
	width: 50%;
}

.header-item td.remove{
	width: 1%;
}

.header-item td.remove button{
	margin: auto;
}

.ng-hide {
  
  display:block!important;
  position:absolute;
  top:-9999px;
  left:-9999px;
}

.upper-text{
	text-transform: uppercase;
}

.pull-right{
	float: right;
}

.response-header{
	font-size: 1.2rem;
	display: block;
	width: 100%;
}

.response-header .name, .response-header .value{
	width: 40%;
	display: inline-block;
	word-wrap:break-word;
}

.response-header .name{
	font-weight: bold;
}

section[role="region"] > header:first-child menu[type="toolbar"] button .icon {
	width: 3rem;
}
